html {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}
main {
	display: flex;
	flex-direction: column; 
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
	transition-duration: 2s;
}


main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.icons-social a {
  text-decoration: none;
}

main:hover {
	background-color: black;
	color: bisque;
}

@keyframes blink {
	0% {
	opacity: .2;
  }
  20% {
	opacity: 1;
  }
  100% {
	opacity: .2;
  }}

  .loading span {
	font-size: 58px;
	color: bisque;
	animation-name: blink;
	animation-duration: 1.4s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
  }
  .loading span:nth-child(2) {
	animation-delay: .2s;
}
	.loading span:nth-child(3) {
	animation-delay: .4s;
}
